@font-face {
  font-family: Reackless;
  src: url(./fonts/RecklessCondensedS-TRIAL-Book.woff);
}

@font-face {
  font-family: Figtree;
  src: url(./fonts/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2);
}

@font-face {
  font-family: Roboto Mono;
  src: url(./fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: Midnight;
  src: url(./fonts/midnight-sans-rd-12-medium-trial.otf);
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body{
  width:100%;
  min-height:100%;
  overflow-x:hidden;
  background-color:#FBF9EB;
}

main{
  width:100%;
  min-height:100vh;
}

/* HERO SECTION */

#section-1{
  width:100%;
  min-height:90vh;

  position:relative;

  background-image:url(https://www.twoleavestea.com/cdn/shop/files/AlpineBerry.webp?v=1774284236&width=1700);

  background-position:center;
  background-size:cover;
  border: 1px solid black;
}

/* HEADER */

.header{
  width:100%;

  background-color:#2A2857;

  color:white;

  text-align:center;

  font-family:Roboto Mono;

  font-size:clamp(0.7rem,1vw,1rem);

  padding:clamp(10px,1vw,16px);
}

/* NAVBAR */

nav{
  top:clamp(10px,7vw,60px);
  width:calc(100% - 24px);
  padding:clamp(10px,0.8vw,16px);
  border-radius:18px;
  border:1px solid rgba(0,0,0,0.2);
  background-color:rgba(255,255,255,0.92);
 margin:0 clamp(10px,1vw,20px) 0 clamp(10px,1vw,20px);
  backdrop-filter:blur(10px);
position: absolute;
  z-index:9999;
border: 1px solid black;
  display:flex;
  align-items:center;
  justify-content:space-between;

  gap:1rem;
}

/* LEFT NAV */

.nav-part-1{
  width:33%;

  display:flex;
  align-items:center;
  cursor: pointer;
  gap:clamp(14px,1.5vw,28px);
}

.nav-part-1 h3{
  font-family:Reackless;

  font-weight:300;

  font-size:clamp(1rem,1.3vw,1.5rem);

  white-space:nowrap;
}

/* LOGO */

.nav-part-2{
  width:clamp(90px,8vw,150px);
}

.nav-part-2 img{
  width:100%;
  object-fit:cover;
}

/* RIGHT NAV */

.nav-part-3{
  width:33%;
 cursor: pointer;
  display:flex;
  align-items:center;
  justify-content:flex-end;

  gap:clamp(12px,1.3vw,22px);
}

.nav-part-3 h3{
  font-family:Roboto Mono;

  font-size:clamp(0.65rem,0.8vw,0.9rem);

  font-weight:500;

  white-space:nowrap;
}

.nav-part-3 svg{
  width:clamp(18px,2vw,28px);

  flex-shrink:0;
}

/* HERO CONTENT */

.hero-content{
  position:absolute;

  left:clamp(20px,3vw,50px);

  bottom:clamp(40px,5vw,80px);

  display:flex;
  flex-direction:column;

  gap:clamp(14px,1.5vw,24px);
}

.hero-content h1{
  font-family:Reackless;

  font-size:clamp(3rem,7vw,7rem);

  line-height:0.9;

  font-weight:300;

  color:white;

  max-width:700px;
}

.hero-content p{
  font-family:Figtree;

  font-size:clamp(1rem,1.2vw,1.3rem);

  line-height:1.5;

  color:white;

  max-width:700px;
}

/* BUTTON */

.hero-content button{
  width:fit-content;

  border:none;

  border-radius:999px;

  background-color:#2A2857;

  color:white;

  cursor:pointer;

  font-family:Figtree;

  font-size:clamp(0.9rem,1vw,1rem);

  padding:
  clamp(12px,1vw,18px)
  clamp(26px,3vw,50px);
}

/* SECTION 2 */

#section-2{
  width:100%;

  min-height:100vh;

  background-color:#FBF9EB;

  display:flex;
  flex-direction:column;

  align-items:center;
  justify-content:center;

  text-align:center;

gap: clamp(2rem,10vw,12rem);

  padding:clamp(40px,6vw,100px);
}

#section-2 h1{
  font-family:Reackless;

  font-size:clamp(2rem,4vw,4.5rem);

  font-weight:300;

  line-height:1.1;

  color:#201C1A;
}

#section-2 h2{
  font-family:Roboto Mono;
  background-color: #DAAEEA;
  font-size:clamp(1rem,3.5vw,3.5rem);
font-family: Midnight;
  letter-spacing:2px;
 padding: clamp(2px,3rem,3px);
 border: 1px solid black;
 border-radius: 10px;
transform: translateY(-50%) rotate(-2deg);
}

.cards-main{
  margin: clamp(20px,2vw,40px);

}
.cards{
  display: flex;
 
}
.card-1{
   width: clamp(10rem,15rem,20rem);
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: space-between;
   gap: clamp(12px,2rem,50px);
}
.card-img{
  width: clamp(15rem,20vw,25rem);
}


/* TABLET */

@media (max-width:900px){

  .nav-part-3 h3{
    display:none;
  }

  .hero-content h1{
    max-width:100%;
  }

  .hero-content p{
    max-width:100%;
  }
}

/* MOBILE */

@media (max-width:600px){

  nav{
    padding:14px;
  }

  .nav-part-1 h3,
  .nav-part-3 h3{
    display:none;
  }

  .nav-part-1,
  .nav-part-3{
    width:auto;
  }

  .hero-content{
    bottom:40px;
  }

  .hero-content h1{
    font-size:clamp(2.5rem,12vw,4.5rem);
  }

  .hero-content p{
    font-size:0.95rem;
  }
}